@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* color primary - blue */
  --color-primary-50: #eef2ff;
  --color-primary-100: #dce4ff;
  --color-primary-200: #b9c8ff;
  --color-primary-300: #96abff;
  --color-primary-400: #6f8dff;
  --color-primary-500: #2855f7; /* Primary */
  --color-primary-600: #1f45d9;
  --color-primary-700: #1938b3;
  --color-primary-800: #142c8c;
  --color-primary-900: #0f2166;

  --color-background-main: #fefcff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
